@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #FADACC;
  font-family: 'Libre Baskerville', serif;
}
/*ROW*/
/* Styles all content to into flexbox */
  .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }

  /* CARD COMPONENT */
  /* Styles text and images to display in similar layout across different pages of website */
  .card {
    background-color: #F9CB9C;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 100px;
    p{
      margin: 20px;
      color: black;
      font-size: 14px;
      line-height: 1.75;
      text-align: justify;
    }
  }
/* Card image styles sizing and layout for images on cards */
  .card-image {
    padding-top: 30px;
    width: 60%;
    border-radius: 90%;
    margin: 0 20%;
    justify-content: center;
    
  }
  /* END OF CARD STYLING*/

  /* CONTACT */
  /* Styles contact details on contact page to display in aligned rows */
  #contacts {
    display: flexbox;
    .contact-detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin-right: 20px;
      width: 100%;
      .icon {
        width: 20px;
        height: 20px;
        justify-content: start;
        margin: 5px 0 20px 20px;
      }  
      h2 {
        margin-left: 20px;
        color: aliceblue;
      }
      h3 {
        margin: 5px 0 20px 20px;
        text-decoration: none;
        color: black;
        a {
          text-decoration: none;
          color:black;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  /* CONTACT FORM */
  .contact-form {
  padding: 10%;
  max-height: 500px;
  min-width: 50px;
  }

  input[type=text], select, textarea {
    width:100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* RESUME */
  #resume {
    a {
      text-decoration: none;
    }

     title-3:hover {
        background-color: white;
      }
    }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /* END OF CONTACT */

  /* TITLES */
  /* Styles headers across website with consistent theme */
  [class*="title"] {
    text-align: left;
  }

    .title {
      font-size: 2.5em;
      padding: 0 0 10px 10px;
      
    }

    .title-2 {
      font-size: 1.4em;
      color:#6FA8DC;
      font-family: 'DM Sans', sans-serif;
      padding: 0 0 10px 10px;
    }

    .title-3 {
      text-align: center;
      color:black;
      font-size: 1.3em;
      margin: 0 20%;

    }

    .title-4 {
      text-align: center;
    }
    /* END OF TITLES */

    /* HEADER STYLING */
    #logo {
      width: 60%;
      margin: 0 20%;
    }

    /* NAVIGATION */
    #nav {
      overflow: hidden;
      background-color: #FADACC;
      z-index: 2;

    .icon {
      background: #FADACC;
      display: block;
      color: white;
      height: 40%;
      width: 30%;  
    }

    #links {
      display: none;
      z-index: 1;
      background:white;  
      a:hover {
        background-color: lightskyblue;
        color: white;
      }  

      // Add mobile-visible class to add and remove from links class.
      &.mobile-visible {
        display: block;
      }
    }

  a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
    z-index: 99;

  }
} 
/*END OF NAV*/

/*PROFILE*/
  .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  #profile {
    background-color: #FADACC;
    padding-bottom: 30px;
    p {
      margin: 20px;
      color: grey;
      font-size: 14px;
      line-height: 1.75;
      text-align: justify;
    }
  }
/*END OF PROFILE*/

/*SKILLS*/
  .list {
    h2 {
      padding:10px;
      color: black;
    }
    .skill {
      margin: 20px 20%;
      min-height: 150px;
        img {
          width: 100%;
      }
      h3 {
        text-align: center;
      }
  }

  /*BLOG LIST (INDEX PAGE)*/
    .post{
      margin: 10% 20%;
      min-height: 250px;
      background-color: white;
      h3, h4 {
        font-family: 'Libre Baskerville', serif;
      }
      img {
        width: 100%;
        max-height: 275px;
        border: white 15px solid;
        &:hover {
          opacity: 70%;
        }
      }
      a {
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
      h3 {
        text-align: center;
        color: black;
        font-size: .75em;
        background-color: white;
        &:hover {
          color:lightsalmon;
        }
      }
      h4 {
        text-align: center;
        font-family: 'Noto Serif', serif;
        background-color: white;
        font-size: .75em;
        height: 60px;
      }
     } 
    }
    /*END OF BLOG LIST*/       

    /* BLOGS */
      #Blogs {
        .title-3 {
          font-family: 'Libre Baskerville', sans-serif;
        }
        .title-4 {
          font-size: 1em;
        }
      }

    /* FOOTER */
    footer {
      width: 100%;
      display: inline-block;
      margin: 2em 0;
      height: 70px;
      background-color:black;
       p {
        text-align: center;
        padding: 0;
        padding-left: 10%;
        color: white;
        font-size: 1em;
        line-height: 50px;
        text-transform: capitalize;
        letter-spacing: 1px;
       } 
        .copyright  {
          width: 100%;
          background-color: black
        }
        p {
          font-family: 'DM Sans', sans-serif;
        }
       .social {
        width: 100%;
        }
        a {
        float: left;
        line-height: 70px;
        text-decoration: none;
        color: white;
        text-align: center;
        font-weight: bold;
        }
       .linked {
        background-color: #1E83AE;
        font-size:  1.2em;
        width: 20%;
        &:hover {
          background-color: black;
        }
      }
      .git {
        background-color: white;
        font-size:  1.2em;
        width: 20%;
        img {
          max-width: 20px;
        }
        &:hover {
          background-color: grey;
        }
      }
       .support {
        background-color: #6dcd9a;
        font-size: 1em;
        width: 40%;
        font-family: 'DM Sans', sans-serif;
        &:hover {
          background-color: black;
        }
       }
       .tweet {
        background-color: lightskyblue;
        font-size:  1.2em;
        width: 20%;
        &:hover {
          background-color: black;
        }
      }
    }
    /*END OF FOOTER*/
    
     /* responsive media queries */
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
  }

@media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}

      .title{font-size:3em;}
    
      .title-2{font-size:2.5em;}

      .card-image {
        width: 40%; 
        margin: 0 30%;
      }

      .card {
        margin-bottom: 60px;
      }

      .card p{font-size: 1em;}

      .title-3{font-size:3em;}

      .title-4{font-size:3em;}

      #skills img {
        min-height: 70%; 
        margin: 0 15%; 
        width: 70% 
      }

      #contacts .contact-detail {
        padding-left: 10%;
      }
        
      #skills p{font-size: 1.7em;}

      .list h2{font-size:3em;}

       #skills h2 {margin: 0 40%;}  

       #blog-list {
        h2 {
          margin: 0 40%;
        }
      }
      .blog-image {
        margin: 0 30%;
      }

      .list .post img {
        border: 10px solid white;
      }
}

@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    #logo {
      width: 20%; 
      margin-left: 10px; 
      margin-top:50px; 
      z-index: 99;
    }

    .title {
      text-align:end; 
      margin-right: 60px; 
      font-size: 4em;
    }

    .title-2 {
      text-align:end; 
      margin-right: 60px; 
      font-size: 3em;
    }

    #About {max-width: 80%;}

    .card-image {
      width: 60%; 
      margin: 0 20%;
    }

    .card {
      margin-bottom: 120px;
      p {
        font-size: 1em; 
      margin: 10% 5%;
      }
    }
    
    .blog-image {
      width: 70%; 
      margin: 0 15%;
    }

    .list .post img {
      border: 10px solid white;
      max-height: none;
    }

    .title-3 {
       font-size:1.56em;
       margin-bottom: 20px;
      }

    .title-4 {
      font-size:1em;
      margin-bottom: 20px;
    }

    #nav {
      position: absolute; 
      top: 0px; 
      right: 0; 
      float: right;
    .icon {
      display: none;
    }

    #links-flex {
      display: flex;
      justify-content: flex-end;
    }

    #links { 
      display:flex;
      margin: 70px 20px 0px 0px;
    }
  
  #links a {
    background-color: white; 
    float: right;
     }

  .skills h2 {margin: 0 40%;}

  #blog-list h2 {margin: 0 40%;}

  .contact-form: {padding: 50%}

  .contact {
    margin-left: 20px;
    font-size: 2em;
    padding-bottom: 3%;
  }
  .copyright {
    width: 25%;
    p {
      text-align: left;
    }
    }
    .social {
    width: 50%;

    }
    .linked {
      width: 20%;
    }
    .git {
      width: 20%;
    }
    .tweet {
      width: 20%;
    }
  .support {
    width: 20%;
  }
}

}