@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FADACC;
  font-family: "Libre Baskerville", serif;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

/* CARD COMPONENT */
/* Styles text and images to display in similar layout across different pages of website */
.card {
  background-color: #F9CB9C;
  min-height: 250px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 100px;
}
.card p {
  margin: 20px;
  color: black;
  font-size: 14px;
  line-height: 1.75;
  text-align: justify;
}

.card-image {
  padding-top: 30px;
  width: 50%;
  border-radius: 90%;
  margin: 0 25%;
  justify-content: center;
}

/* END OF CARD STYLING*/
/* CONTACT */
/* Styles contact details on contact page to display in aligned rows */
#contacts {
  display: flexbox;
}
#contacts .contact-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-right: 20px;
  width: 100%;
}
#contacts .contact-detail .icon {
  width: 20px;
  height: 20px;
  justify-content: start;
  margin: 5px 0 20px 20px;
}
#contacts .contact-detail h2 {
  margin-left: 20px;
  color: black;
}
#contacts .contact-detail h3 {
  margin: 5px 0 20px 20px;
  text-decoration: none;
  color: black;
}
#contacts .contact-detail h3 a {
  text-decoration: none;
  color: black;
}
#contacts .contact-detail h3 a:hover {
  color: white;
}

/* RESUME */
#resume a {
  text-decoration: none;
}
#resume title-3:hover {
  background-color: white;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* END OF CONTACT */
/* TITLES */
/* Styles headers across website with consistent theme */
[class*=title] {
  text-align: left;
}

.title {
  font-size: 2.5em;
  padding: 0 0 10px 20px;
}

.title-2 {
  font-size: 1.4em;
  color: #6FA8DC;
  font-family: "DM Sans", sans-serif;
  padding: 0 0 10px 20px;
}

.title-3 {
  text-align: center;
  color: black;
  font-size: 1.3em;
}

.title-4 {
  text-align: center;
}

/* END OF TITLES */
/* HEADER STYLING */
#logo {
  width: 60%;
  margin: 0 20%;
}

/* NAVIGATION */
#nav {
  overflow: hidden;
  background-color: #FADACC;
  z-index: 2;
}
#nav .icon {
  background: #FADACC;
  display: block;
  color: white;
  height: 40%;
  width: 30%;
}
#nav #links {
  display: none;
  z-index: 1;
  background: white;
}
#nav #links a:hover {
  background-color: lightskyblue;
  color: white;
}
#nav #links.mobile-visible {
  display: block;
}
#nav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: relative;
  z-index: 99;
}

/*END OF NAV*/
/*Profile*/
.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

#profile {
  background-color: #FADACC;
  padding-bottom: 30px;
}
#profile p {
  margin: 20px;
  color: grey;
  font-size: 14px;
  line-height: 1.75;
  text-align: justify;
}

/*SKILLS*/
.list {
  /* BLOG LIST (INDEX PAGE) */
}
.list h2 {
  padding: 10px;
  color: black;
}
.list .skill {
  margin: 20px 20%;
  min-height: 150px;
}
.list .skill img {
  width: 100%;
}
.list .skill h3 {
  text-align: center;
}
.list .post {
  margin: 10% 20%;
  min-height: 250px;
  background-color: white;
}
.list .post h3, .list .post h4 {
  font-family: "Libre Baskerville", serif;
}
.list .post img {
  width: 100%;
  max-height: 275px;
  border: white 15px solid;
}
.list .post img:hover {
  opacity: 70%;
}
.list .post a {
  text-decoration: none;
}
.list .post a:hover {
  color: white;
}
.list .post h3 {
  text-align: center;
  color: black;
  font-size: 0.75em;
  background-color: white;
}
.list .post h3:hover {
  color: lightsalmon;
}
.list .post h4 {
  text-align: center;
  font-family: "Noto Serif", serif;
  background-color: white;
  font-size: 0.75em;
  height: 60px;
}

/* BLOGS */
#Blogs .title-3 {
  font-family: "Libre Baskerville", sans-serif;
}
#Blogs .title-4 {
  font-size: 1em;
}

/* FOOTER */
footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: black;
}
footer p {
  text-align: center;
  padding: 0;
  padding-left: 10%;
  color: white;
  font-size: 1em;
  line-height: 50px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
footer .copyright {
  width: 100%;
  background-color: black;
}
footer p {
  font-family: "DM Sans", sans-serif;
}
footer .social {
  width: 100%;
}
footer a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
}
footer .linked {
  background-color: #1E83AE;
  font-size: 1.2em;
  width: 20%;
}
footer .linked:hover {
  background-color: black;
}
footer .git {
  background-color: white;
  font-size: 1.2em;
  width: 20%;
}
footer .git img {
  max-width: 20px;
}
footer .git:hover {
  background-color: grey;
}
footer .support {
  background-color: #6dcd9a;
  font-size: 1em;
  width: 40%;
  font-family: "DM Sans", sans-serif;
}
footer .support:hover {
  background-color: black;
}
footer .tweet {
  background-color: lightskyblue;
  font-size: 1.2em;
  width: 20%;
}
footer .tweet:hover {
  background-color: black;
}

/* responsive media queries */
/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  .title {
    font-size: 3em;
  }

  .title-2 {
    font-size: 2.5em;
  }

  .card-image {
    width: 40%;
    margin: 0 30%;
  }

  .card {
    margin-bottom: 60px;
  }

  .card p {
    font-size: 1em;
  }

  .title-3 {
    font-size: 3em;
  }

  .title-4 {
    font-size: 3em;
  }

  #skills img {
    min-height: 70%;
    margin: 0 15%;
    width: 70%;
  }

  #skills p {
    font-size: 1.7em;
  }

  .list h2 {
    font-size: 3em;
  }

  #skills h2 {
    margin: 0 40%;
  }

  #blog-list h2 {
    margin: 0 40%;
  }

  .blog-image {
    margin: 0 30%;
  }

  .list .post img {
    border: 10px solid white;
  }
}
@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  #logo {
    width: 20%;
    margin-left: 10px;
    margin-top: 50px;
    z-index: 99;
  }

  .title {
    text-align: end;
    margin-right: 60px;
    font-size: 4em;
  }

  .title-2 {
    text-align: end;
    margin-right: 60px;
    font-size: 3em;
  }

  #About {
    max-width: 80%;
  }

  .card-image {
    width: 60%;
    margin: 0 20%;
  }

  .card {
    margin-bottom: 120px;
  }
  .card p {
    font-size: 1em;
    margin: 10% 5%;
  }

  .blog-image {
    width: 70%;
    margin: 0 15%;
  }

  .list .post img {
    border: 10px solid white;
  }

  .title-3 {
    font-size: 1.56em;
    margin-bottom: 20px;
  }

  .title-4 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  #nav {
    position: absolute;
    top: 0px;
    right: 0;
    float: right;
  }
  #nav .icon {
    display: none;
  }
  #nav #links-flex {
    display: flex;
    justify-content: flex-end;
  }
  #nav #links {
    display: flex;
    margin: 70px 20px 0px 0px;
  }
  #nav #links a {
    background-color: white;
    float: right;
  }
  #nav .contacts {
    position: absolute;
    left: 0px;
  }
  #nav .skills h2 {
    margin: 0 40%;
  }
  #nav #blog-list h2 {
    margin: 0 40%;
  }
  #nav .contact {
    margin-left: 20px;
    font-size: 2em;
    padding-bottom: 3%;
  }
  #nav .copyright {
    width: 25%;
  }
  #nav .copyright p {
    text-align: left;
  }
  #nav .social {
    width: 50%;
  }
  #nav .linked {
    width: 20%;
  }
  #nav .git {
    width: 20%;
  }
  #nav .tweet {
    width: 20%;
  }
  #nav .support {
    width: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
