@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FADACC;
  font-family: "Libre Baskerville", serif;
}

#logo {
  width: 60%;
  margin: 0 25%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: #F9CB9C;
  min-height: 250px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 50px;
}
.card p {
  margin: 20px;
  color: black;
  font-size: 14px;
  line-height: 1.75;
  text-align: justify;
}

/* Contact details */
#contacts {
  display: flex;
}
#contacts .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-right: 20px;
  width: 100%;
}
#contacts .contact .icon {
  width: 20px;
  height: 20px;
  justify-content: start;
  margin: 5px 0 20px 20px;
}
#contacts .contact h2 {
  margin-left: 20px;
  color: darkcyan;
}
#contacts .contact h3 {
  margin: 5px 0 20px 20px;
  text-decoration: none;
  color: black;
}
#contacts .contact h3 a {
  text-decoration: none;
  color: black;
}
#contacts .contact h3 a:hover {
  color: white;
}

.card-image {
  padding-top: 30px;
  width: 50%;
  border-radius: 90%;
  margin: 0 25%;
  justify-content: center;
}

[class*=title] {
  text-align: left;
  padding: 0 0 10px 20px;
}

.title {
  font-size: 2.5em;
}

.title-2 {
  font-size: 1em;
  color: #6FA8DC;
  font-family: "DM Sans", sans-serif;
}

.title-3 {
  text-align: center;
  color: black;
}

.title-4 {
  text-align: center;
}

/*navigation*/
#nav {
  overflow: hidden;
  background-color: #FADACC;
  z-index: 2;
}
#nav .icon {
  background: #FADACC;
  display: block;
  color: white;
  height: 40%;
  width: 30%;
}
#nav #links {
  display: none;
  z-index: 1;
  background: white;
}
#nav #links a:hover {
  background-color: lightskyblue;
  color: white;
}
#nav #links.mobile-visible {
  display: block;
}
#nav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: relative;
  z-index: 99;
}

/*END OF NAV*/
/*Profile*/
.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}

#profile {
  background-color: #FADACC;
  padding-bottom: 30px;
}
#profile p {
  margin: 20px;
  color: grey;
  font-size: 14px;
  line-height: 1.75;
  text-align: justify;
}

/*Skills*/
#skills {
  background-color: #F9CB9C;
  min-height: 250px;
  margin: 20px 0 50px 0;
  font-family: "DM Sans", sans-serif;
}
#skills h2 {
  padding: 10px;
  margin: 0 40%;
  color: black;
}
#skills .skill {
  margin: 10px;
  min-height: 250px;
}
#skills .skill img {
  width: 100%;
}
#skills .skill h3 {
  text-align: center;
}

footer {
  background: black;
  min-height: 75px;
  margin-top: 50px;
}
footer p, footer a {
  padding: 20px 20px 0px 20px;
  text-decoration: none;
  color: #F9CB9C;
  font-family: "DM Sans", sans-serif;
}

/* responsive media queries */
/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  .title {
    font-size: 3em;
  }

  .title-2 {
    font-size: 2em;
  }

  .card-image {
    width: 40%;
    margin: 0 30%;
  }

  .card p {
    font-size: 1.5em;
  }

  .title-3 {
    font-size: 3em;
  }

  .title-4 {
    font-size: 3em;
  }

  #skill img {
    min-height: 70%;
    margin: 0 15%;
    width: 70%;
  }

  #skills p {
    font-size: 1.7em;
  }

  #skills h2 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  #logo {
    width: 20%;
    margin-left: 10px;
    margin-top: 50px;
    z-index: 99;
  }

  .title {
    text-align: end;
    margin-right: 60px;
    font-size: 4em;
  }

  .title-2 {
    text-align: end;
    margin-right: 60px;
    font-size: 3em;
  }

  #About {
    max-width: 80%;
  }

  .card-image {
    width: 60%;
    margin: 0 20%;
  }

  .blog-image {
    width: 60%;
  }

  .card p {
    font-size: 1em;
    margin: 10% 5%;
  }

  .title-3 {
    font-size: 1.56em;
    margin-bottom: 20px;
  }

  .title-4 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  #nav {
    position: absolute;
    top: 0px;
    right: 0;
    float: right;
  }
  #nav .icon {
    display: none;
  }
  #nav #links-flex {
    display: flex;
    justify-content: flex-end;
  }
  #nav #links {
    display: flex;
    margin: 70px 20px 0px 0px;
  }
  #nav #links a {
    background-color: white;
    float: right;
  }
  #nav #skills h2 {
    margin: 0 40%;
  }
}

/*# sourceMappingURL=styles.css.map */
